<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section class="loginPage">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card mx-lg-4 my-4">
						<div class="card-header bg-blue">
							<p class="text-center loginTitle">Login</p>                              
						</div>
						<div class="card-body">
						<p th:if="${param.error}" class="alert alert-danger">Wrong! username or password!</p>
						<p th:if="${param.logout}" class="alert alert-danger">Successfully Logout</p>
							<form th:action="@{/dologin}" method="post">
								<div class="form-group">
									<label for="usernameFields" class="label">Username:</label> <input
										type="text" name="username" class="form-control"
										id="usernameFields">
								</div>
								<div class="form-group ">
									<label for="passwordFields" class="label">Password:</label> <input
										type="password" name="password" class="form-control"
										id="usernameFields">
								</div>
								<div class="form-group">
									<label class="form-check-label"
										for="remember">
										<span><input id="remember-me" name="remember-me" type="checkbox"></span>
                                <span>Remember me</span> 
										</label>
								</div>
                                <div class="form-group">
                                <input type="submit" class="btn btn-block btn-info">
                                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- 
	<section>
		 <div id="login">       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">                       
                        <form id="login-form" class="form" th:action="@{/dologin}" action="#" method="post">                       
                            <h3 class="text-center text-info">Login</h3>                            
                            <div th:if="${param.error}" class="alert alert-danger">
                            	Invalid username and password
                            </div>                            
                             <div th:if="${param.logout}" class="alert alert-success">
                            	You have been logged out
                            </div>                            
                             <div th:if="${param.change}" class="alert alert-success">
                            	<p th:text="${param.change}"></p>
                            </div>   
                            
                                                                                                                                         
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>                                                        
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>                                                        
                            <div class="form-group">
                                <label for="remember-me" class="text-info">
                                <span><input id="remember-me" name="remember-me" type="checkbox"></span>
                                <span>Remember me</span> </label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>                                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
	 -->
</body>
</html>