<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header bg-blue text-light py-2">
							<h3 class="text-center">Reset Password</h3>
						</div>
						<div class="card-body">
							<div th:if="${session.message}"
								th:classappend="${session.message.type}" class="alert"
								role="alert">
								<p class="text-center" th:text="${session.message.content}"></p>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>

							<div class="card-body">
								<h4 class="text-center">
									<span th:text="${usrDts.name}"></span>
								</h4>
								<hr />
								<form th:action="@{/admin/changePassword}" method="post">
									<div class="form-group">
										<label class="label">New Password</label> <input
											type="password" class="form-control" name="newpassword"
											placeholder="Enter New Password">
									</div>
									<input type="hidden" class="form-control" name="userId"
										placeholder="Enter New Password" th:value="${usrDts.id}">
									<div class="form-group">
										<input class="btn btn-block btn-primary" type="submit"
											value="Reset Password">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
</body>
</html>