<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header bg-dark">
							<p class="text-center loginTitle">Update Department</p>
						</div>
						<div class="card-body">
							<div th:if="${session.message}"
								th:classappend="${session.message.type}" class="alert"
								role="alert">
								<p class="text-center" th:text="${session.message.content}"></p>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>


							<form th:action="@{/admin/updateDept}" method="post" th:object="${dp}">
								<input type="hidden" th:value="${dp.id}" name="id" />
								
								
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text ">
												<i class="fa fa-briefcase"></i>
											</div>
										</div>
										<input type="text" class="form-control" id="dept"
											name="department" 
			                                th:value="${dp.department}"
											placeholder="">
									</div>
								</div>
								<div class="">
									<input type="submit" class="btn btn-block btn-info" value="Update">
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>